@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/Outfit-Regular.ttf);
}
@font-face {
  font-family: "OutfitBold";
  src: url(./assets/fonts/Outfit-SemiBold.ttf);
}
@font-face {
  font-family: "RubikDoodleShadow";
  src: url(./assets/fonts/RubikDoodleShadow-Regular.ttf);
}
@font-face {
  font-family: "Bricolage";
  src: url(./assets/fonts/BricolageGrotesque-Medium.ttf);
}

@theme {
  --font-RubikDoodleShadow: "RubikDoodleShadow";
  --font-Bricolage: "Bricolage";
  --font-Outfit: "Outfit";
  --font-OutfitBold: "OutfitBold";
}

@layer utilities {
  .bg-leaves {
    background-image: url(../src/assets/images/leaves_bg.jpg);
    background-size: cover;
  }
}
